@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Rakkas&display=swap');


body {
  background-color: #DAD6CE;
  margin-left: 3vw;
  margin-right: 3vw;

}

.header {
  display: flex;
  margin-top: 3vh;
  justify-content: space-between;
}

.logo {
  width: 25vw;
  height: 100%;
  align-self: flex-start;
  margin-top: 4vh;
}

.header-picture {
  /* margin-top: 10px; */
  width: 93.5vw;
  height: 100%;
  /* height: 35vh; */
}

.link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 28px;
  text-decoration: none;
  color: #403838;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  margin-left: 1em;
}

.link:hover {
  background-color: #98BEC4;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.links {
  align-self: flex-end;
  margin-bottom: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  /* width: 100%;  */
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.2em;
}

.footer-info {
  display: flex;
}

.footer-string {
  font-family: 'Raleway';
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  /* margin-bottom: 10px; */
  margin-right: 3em;
}

.footer-string:last-child {
  margin-right: 0;
}

.footer-icon {
  width: 2vw;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.footer-copyright {
  font-family: 'Train One', system-ui;
  font-size: 1em;
}

.container-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 0;
  height: 60vh;
  background-color: #F6F4F4;
  border-bottom: 3px solid #DAD6CE;
  position: relative;
  text-align: center;
}

.container-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10vh;
  background-color: #F6F4F4;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.red-square {
  background-color: #CA5153;
  width: 40vw;
  /* height: 55vh;  */
  position: absolute;
  top: -2em;
  right: 2em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.container-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  color: black;
  width: 40vw;
  position: absolute;
  text-align: left;
  margin-left: 2em;
}

.red-square-text {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.square-text-one {
  color: white;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  letter-spacing: 5px;
  margin-top: 5vh;
}

.square-text-two {
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
}

.square-text-three {
  color: #0029FF;
  font-family: 'Ledger', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3vw;
}

.square-text-four {
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  margin-bottom: 5vh;
}

.container-two-paragraphs {
  margin-left: 1vw;
  padding-right: 3vw;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  color: black;
  width: 40vw;
  text-align: left;
  border-right: 3px solid rgb(49, 47, 47);
}

.container-two-years {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  color: black;
  width: 40vw;
  margin-left: 2em;
}

.years {
  margin: 0;
  font-family: 'Ledger', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15vw;
  color: rgb(49, 47, 47);
  text-align: left;
}

.experience {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  color: black;
}

.container-two-about {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  background-color: #F6F4F4;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.container-two-owners {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 40vw;
  margin-left: 5em;
}

.owners-picture {
  margin: 0;
  width: 30vw;
  height: 100%;
  border-radius: 10px;
}

.burozeiten {
  margin-bottom: 0;
  margin-top: 0;
}

.bus {
  margin-bottom: 0;
  margin-top: 0;
}

.container-two-address {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  color: black;
  width: 40vw;
  padding-left: 2em;
  border-left: 3px solid rgb(49, 47, 47);
}

.container-two-contact {
  margin-left: 1vw;
  padding-right: 3vw;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  color: black;
  width: 40vw;
  text-align: left;
}

.burger-button {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 100;
}

@media (min-width: 800px) {
  .burger-button {
    display: none;
  }
}

@media (max-width: 800px) {
  .links {
    display: none;
  }

  .logo {
    width: 35vw;
    height: 100%;
    margin-top: 0;
  }

  .red-square {
    width: 94vw;
    height: 15vh;
    position: absolute;
    top: -8em;
    right: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .square-text-one {
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .square-text-two {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .square-text-three {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
  }

  .square-text-four {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1em;
  }

  .container-one {
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 0;
    height: 10vh;
  }

  .container-two {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .container-two-paragraphs {
    width: 80vw;
    font-size: 1em;
    margin: 0;
    padding: 0;
    border-right: none;
  }

  .container-two-years {
    font-size: 1em;
    width: 80vw;
    margin: 0;
    padding: 0;
  }

  .years {
    width: 80vw;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .experience {
    width: 80vw;
    margin: 0;
    padding: 0;
    font-size: 1em;
  }

  .container-text {
    width: 80vw;
    font-size: 1em;
    margin-left: 0;
  }

  .header-picture {
    margin-bottom: 6vh;
  }

  .footer {
    font-size: 0.8em;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .footer-icon {
    width: 6vw;
    height: 2.5vh;
    margin: 0;
    margin-right: 10px;
    padding: 0;
  }
  .footer-info {
    justify-content: flex-end;
  } 

  .container-two-about {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .container-two-owners {
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .container-two-address {
    border-left: none;

  }

  .container-two-contact {
    width: 80vw;
    font-size: 1em;
    margin: 0;
    padding: 0;
    border-right: none;
  }

  .container-two-address {
    width: 80vw;
    font-size: 1em;
    margin: 0;
    padding: 0;
    border-right: none;
  }

  .burger-button {
    font-size: 25px;
    border-radius: 5px;
    top:25px
  }
}


@media (max-width: 1000px) {
  .footer-info {
    flex-direction: column;
    margin-right: 0;
  }

  .footer-string {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 1400px) {
  .container-one {
    height: 30vh;
  }
}

/* Burger Menu Links Styling */
#burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  background-color: #98BEC4;
  padding: 20px;
  box-sizing: border-box;
  z-index: 10;
  transition: transform 0.5s cubic-bezier(0, .52, 0, 1);
  display: flex;
  flex-direction: column;
  /* Stack links vertically */
  align-items: center;
  /* Center links horizontally */
  justify-content: center;
  /* Center links vertically */
}

#burger-menu.hide {
  transform: translate3d(-100vw, 0, 0);
}

#burger-menu.show {
  transform: translate3d(0vw, 0, 0);
}

#burger-menu a {
  display: inline-block;
  /* Maintain inline-block for alignment */
  width: auto;
  /* Adjust width based on content */
  height: 40px;
  /* Updated height to 40px */
  background-color: #DAD6CE;
  /* Button background color */
  color: #403838;
  /* Text color */
  text-align: center;
  /* Horizontally center text */
  line-height: 40px;
  /* Vertically center text by matching line height to button height */
  margin: 20px 10px;
  /* Keep spacing between buttons */
  padding: 0 20px;
  /* Horizontal padding for content breathing space */
  border-radius: 5px;
  /* Rounded corners for aesthetics */
  text-decoration: none;
  /* Remove text decoration */
  transition: background-color 0.3s ease;
}

#burger-menu a:hover {
  background-color: #403838;
  /* Darken button on hover */
}

/* Adjustments for Responsive Design */
@media (max-width: 800px) {
  #burger-menu {
    width: 66%;
    /* Ensure menu takes full width on smaller screens */
  }
}
@media (max-width: 420px) {
  .footer-copyright {
    font-family: 'Train One', system-ui;
    font-size: 0.5em;
  }
  }